<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Scatology.TC_001Test"/>
      <class name="Scatology.TC_002Test"/>
      <class name="Scatology.TC_003Test"/>
      <class name="Scatology.TC_004Test"/>
      <class name="Scatology.TC_005Test"/>
      <class name="Scatology.TC_006Test"/>
      <class name="Scatology.TC_007Test"/>
      <class name="Scatology.TC_008Test"/>
      <class name="Scatology.TC_signup_010"/>
      <class name="Scatology.TC_009Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
